{% extends "layout.twig" %}

{% block content %}
	<h1>Sign in</h1>

	{% if responseMessage != '' %}
		<div class="alert alert-danger" role="alert">
			{{ responseMessage }}
		</div>
   {% endif %}

	<form action="sign-in" method="POST">
	<label for="title">Email</label>
	 <input type="email" name="email" id="email"><br>
	 <label for="title">Password</label>
	 <input type="password" name="password" id="password"><br>
	 <button type="submit">Login</button>
</form>
{% endblock %}